<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="assets/styles.css" />
  </head>
  <body>
    <%- include('../components/navbar.ejs') %>
    <h1>belajar <%= kelas.nama %></h1>
    <footer>
      <p>&copy; ucup si anak haram</p>
    </footer>
  </body>
</html>
