<!DOCTYPE html>
<html>
  <head>
    <link href="../assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include("partials/nav.ejs") %>
    <h1>Belajar woi</h1>
    <p>jangan malas kau bujang</p>
  </body>
</html>
