<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
  </head>
  <body>
    <%- include('../components/navbar.ejs') %>
    <h1>About</h1>
    <footer>
      <p>&copy; ucup si anak haram</p>
    </footer>
  </body>
</html>
